/* Header  */
.header {
   display: flex;
   height: 80px;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 2rem;
   background-color: lightgray;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
   border-bottom: 1px solid #ddd;
   position: sticky;
   top: 0;
   z-index: 1000;
}

.logo-container {
   display: flex;
   align-items: center;
}

.logo-text {
   font-size: 2.5rem;
   font-weight: bold;
   color: #333;
   text-decoration: none;
   letter-spacing: 0.5px;
}

.nav-links {
   display: flex;
   gap: 1.5rem;
}

.nav-links a {
   text-decoration: none;
}

/* Active link  */
.active-link {
   font-weight: bold;
   color: #1890ff;
   border-bottom: 2px solid #1890ff;
   padding-bottom: 2px;
}

/* Inactive link */
.inactive-link {
   color: #333;
   font-weight: 500;
}

.user-container {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.user-name {
   font-weight: 500;
   font-size: 1.5rem;
}

.logout-btn {
   padding: 1rem 0.8rem;
   cursor: pointer;
   border-radius: 4px;
   border: none;
   background-color: #ff4d4f;
   color: white;
   font-weight: bold;
   transition: all 0.3s ease;
}

.logout-btn button:hover {
   background-color: rgba(0, 86, 179, 0.9);
}

@media (max-width: 768px) {
   .header {
      height: auto; /* expand vertically */
      flex-direction: column; /* Stack logo, nav, and user */
      padding: 1rem;
      gap: 1rem;
   }

   .nav-links {
      gap: 1rem;
      flex-wrap: wrap; /* Prevent links from cutting off */
      justify-content: center;
   }

   .logo-text {
      font-size: 1.8rem; /* Shrink logo slightly */
   }

   .user-container {
      width: 100%;
      justify-content: center; /* Center logout area */
      border-top: 1px solid #ddd;
      padding-top: 0.5rem;
   }

   .user-name {
      font-size: 1.2rem;
   }
}
