/* Full-page background */
.register-page {
   min-height: 100vh; /* full height of the viewport */
   background-color: lightgrey;
   display: flex;
   justify-content: center; /* center horizontally */
   align-items: center; /* center vertically */
}

.register-container {
   background-color: white;
   max-width: 400px;
   margin: 50px auto;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   font-family: Arial, sans-serif;
}

.register-container h2 {
   text-align: center;
   margin-bottom: 20px;
   color: #333;
}

.register-container form {
   display: flex;
   flex-direction: column;
}

.register-container input {
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-size: 14px;
}

.register-container input:focus {
   border-color: #007bff;
   outline: none;
}

.register-container button {
   padding: 10px;
   background-color: #007bff !important;
   color: #fff;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

.register-container button:hover {
   background-color: #0056b3;
}

.register-container .login-link {
   text-align: center;
   margin-top: 15px;
   font-size: 14px;
}

.register-container .login-link a {
   color: #007bff;
   text-decoration: none;
}

.register-container .login-link a:hover {
   text-decoration: underline;
}
